.ant-table-cell.no-right-border {
  border-inline-end: none !important;
  padding-right: 15px !important;
  padding-left: 0px !important;
}
.ant-table-cell-fix-left-first {
  box-shadow: 1px 0 5px -2px rgba(0, 0, 0, 0.3) !important;
}

.ant-steps-item-title {
  font-size: 15px !important;
}

.button-short span {
  font-size: 0px;
  transition: 0.3s !important;
}
.button-short:hover span {
  font-size: 12px;
}
.profileMainSection{
  background-color: rgba(233, 233, 233, 0.607);
  padding-inline-start: 1.5rem;
  padding-inline-end: 1rem;
  padding-block: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px;
}

.profileMainSection h3 {
  margin-bottom: 20px;
  font-size: 16px;
}
.profileMainSection p{
  font-size: 14px;
}
