.bloginChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: -2px 9px 13.9px rgba(143, 186, 243, 0.3);
  border-radius: 8px;
  background-color: #fff;
}
.loginNow {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.blogin {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px 64px;
  position: relative;
  white-space: nowrap;
  text-align: center;
  font-size: 16px;
  color: #0245a3;
  font-family: Poppins;
}
@media screen and (max-width: 725px) {
  .blogin {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
