.number {
  height: 20px;
  width: 8px;
  position: relative;
  line-height: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
}
.badge,
.badgecount,
.layoutblocksvertical7 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.badge {
  border-radius: 100px;
  background-color: #ff4d4f;
  overflow: hidden;
  flex-direction: row;
  padding: 0 6px;
}
.badgecount,
.layoutblocksvertical7 {
  flex-direction: column;
}
.layoutblocksvertical7 {
  justify-content: flex-start;
  gap: 16px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  font-family: "Roboto Mono";
}
.text {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.texttext {
  width: 139px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.layoutblocksvertical71 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
}
.texttext7 {
  width: 51px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.layoutblockshorizontal3 {
  width: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.layoutblocksvertical2 {
  height: 32px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  z-index: 2;
}
.body {
  align-self: stretch;
  box-shadow: 0 1px 0#f0f0f0 inset;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 24px 20px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  font-family: Roboto;
}
