.firstLevelMenu {
  text-decoration: none;
  position: relative;
  line-height: 22px;
  color: inherit;
  display: inline-block;
  min-width: 38px;
}
.stItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.lastItemLabel,
.secondLevelMenu {
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.secondLevelMenu {
  text-decoration: none;
  color: inherit;
  min-width: 52px;
}
.lastItemLabel {
  min-width: 74px;
  white-space: nowrap;
}
.breadcrumb,
.lastItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 0.85);
}
.breadcrumb {
  margin: 0;
  align-self: stretch;
  overflow: hidden;
  padding: 0 765px 0 0;
  text-align: left;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
  font-family: Roboto;
}
@media screen and (max-width: 975px) {
  .breadcrumb {
    display: none;
    padding-right: 382px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .breadcrumb {
    padding-right: 191px;
    box-sizing: border-box;
  }
}
