.bg {
  height: 16px;
  width: 16px;
  position: relative;
  border-radius: 2px;
  background-color: #1890ff;
}
.border,
.checkIcon {
  position: absolute;
  margin: 0 !important;
}
.border {
  height: 100%;
  width: 100%;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  border-radius: 2px;
  border: 1px solid transparent;
  box-sizing: border-box;
  z-index: 1;
}
.checkIcon {
  height: 7.6px;
  width: 10.6px;
  top: calc(50% - 3px);
  left: calc(50% - 5.3px);
  z-index: 2;
}
.checkboxInput {
  border-radius: 2px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px;
  width: 16px;
  height: 16px;
}
.checkboxInputWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.label {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 92px;
}
.checkbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  text-align: left;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  font-family: Roboto;
}
