.no {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 21px;
}
.tableHeaderCell {
  align-self: stretch;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 12px 10px;
  font-size: 12px;
  color: #6b7280;
}
.cellData {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 7px;
}
.tableCell {
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 20px 10px;
}
.actionLinks {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 9px;
}
.tableCell1,
.tableCell2 {
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 19px 10px;
}
.tableCell2 {
  align-self: stretch;
  background-color: #f3f4f6;
  padding: 12px 18px 10px;
}
.tableCellAwake {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 10px;
}
.tableCell6 {
  background-color: #f3f4f6;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 19px 10px;
}
.linksSmall5 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 16px;
}
.tableCell9 {
  align-self: stretch;
  background-color: #f3f4f6;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 15px 10px;
}
.column {
  width: 47px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.class {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 33px;
}
.tableHeaderCell1 {
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 23px 10px;
  font-size: 12px;
  color: #6b7280;
}
.artifact {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 51px;
}
.tableCell10 {
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 14px 10px;
}
.ed {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 52px;
}
.tableCell12 {
  align-self: stretch;
  background-color: #f3f4f6;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 13px 10px;
}
.column1 {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.type {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 29px;
}
.sorterIcon {
  height: 22px;
  width: 11px;
  position: relative;
}
.tableHeaderCell2 {
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 9px 25px 7px;
  gap: 10px;
  font-size: 12px;
  color: #6b7280;
}
.eyeBlink {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 62px;
}
.tableCell22 {
  background-color: #f3f4f6;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 47px 10px;
}
.muscle {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 50px;
}
.tableCell24 {
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 25px 10px;
}
.column2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.channel {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 49px;
}
.tableHeaderCell3 {
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 9px 0 7px 1px;
  gap: 2px;
  font-size: 12px;
  color: #6b7280;
}
.fp1,
.t3 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 24px;
}
.t3 {
  min-width: 19px;
}
.tableCell32 {
  background-color: #f3f4f6;
  border-bottom: 1px solid #e5e7eb;
  flex-direction: row;
  padding: 12px 22px 10px;
}
.column3,
.tableCell32,
.tableCell34 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tableCell34 {
  border-bottom: 1px solid #e5e7eb;
  flex-direction: row;
  padding: 12px 22px 10px;
}
.column3 {
  flex-direction: column;
}
.startTime {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 61px;
}
.tableHeaderCell4 {
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9px 3px 7px;
  gap: 3px;
  font-size: 12px;
  color: #6b7280;
}
.div6,
.endTime {
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
}
.div6 {
  line-height: 20px;
  min-width: 36px;
  white-space: nowrap;
}
.endTime {
  line-height: 16px;
  min-width: 55px;
}
.tableHeaderCell5 {
  align-self: stretch;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 3px 10px;
  font-size: 12px;
  color: #6b7280;
}
.div16 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 38px;
  white-space: nowrap;
}
.tableCell50,
.tableCell52 {
  align-self: stretch;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 12px 10px;
}
.tableCell52 {
  background-color: #f3f4f6;
}
.column5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 41px;
}
.duration {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 50px;
}
.tableHeaderCell6 {
  align-self: stretch;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 6px 10px;
  font-size: 12px;
  color: #6b7280;
}
.m {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 35px;
}
.tableCell62 {
  background-color: #f3f4f6;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 14px 10px;
}
.timeS {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 41px;
}
.tableCell70,
.tableHeaderCell7 {
  align-self: stretch;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tableHeaderCell7 {
  padding: 12px 10px 10px;
  font-size: 12px;
  color: #6b7280;
}
.tableCell70 {
  padding: 12px 13px 10px;
}
.timeE {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 40px;
}
.tableHeaderCell8 {
  align-self: stretch;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 11px 10px;
  font-size: 12px;
  color: #6b7280;
}
.status {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 38px;
}
.tableHeaderCell9 {
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 9px 2px 7px;
  gap: 10px;
  font-size: 12px;
  color: #6b7280;
}
.awake {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 45px;
}
.tableCell90,
.tableCell92 {
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 9px 10px;
}
.tableCell92 {
  background-color: #f3f4f6;
}
.sleep {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 39px;
}
.tableCell96 {
  align-self: stretch;
  background-color: #f3f4f6;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 11px 10px;
}
.date {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 28px;
}
.tableHeaderCell10 {
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9px 49px 7px 20px;
  gap: 10px;
  font-size: 12px;
  color: #6b7280;
}
.div46 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 78px;
}
.tableCell100,
.tableCell102 {
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px 20px 10px;
}
.tableCell102 {
  background-color: #f3f4f6;
}
.comfirmation {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 80px;
}
.tableHeaderCell11 {
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 9px 1px 7px;
  gap: 9px;
  text-align: left;
  font-size: 12px;
  color: #6b7280;
  font-family: Inter;
}
.searchIcon {
  height: 14px;
  width: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.defaultButton {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 65px;
}
.button,
.tableCell110 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button {
  flex: 1;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  background-color: #00ff0a;
  border: 1px solid #00ff0a;
  overflow: hidden;
  padding: 3px 15px;
  gap: 8px;
}
.tableCell110 {
  align-self: stretch;
  border-bottom: 1px solid #e5e7eb;
  padding: 6px 2px 4px;
}
.defaultButton1 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 55px;
}
.button1,
.tableCell111 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button1 {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  background-color: #ff4d4f;
  overflow: hidden;
  padding: 4px 21px;
  gap: 10px;
}
.tableCell111 {
  border-bottom: 1px solid #e5e7eb;
  padding: 7px 2px 5px;
  color: #fff;
}
.text {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 51px;
}
.button2 {
  flex: 1;
  border-radius: 20px;
  background-color: #f5f5f5;
  border: 1px solid #d9d9d9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3px 22px;
  gap: 10px;
}
.tableCell112 {
  align-self: stretch;
  background-color: #f3f4f6;
  border-bottom: 1px solid #e5e7eb;
  padding: 6px 2px 4px;
  color: rgba(0, 0, 0, 0.25);
}
.button3,
.tableCell112,
.tableCell113,
.tableCell114,
.tableCell116 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button3 {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  background-color: #ff4d4f;
  padding: 4px 21px;
  gap: 10px;
}
.tableCell113,
.tableCell114,
.tableCell116 {
  border-bottom: 1px solid #e5e7eb;
}
.tableCell113 {
  background-color: #f3f4f6;
  padding: 7px 2px 5px;
  color: #fff;
}
.tableCell114,
.tableCell116 {
  align-self: stretch;
  padding: 6px 2px 4px;
}
.tableCell114 {
  color: rgba(0, 0, 0, 0.25);
}
.tableCell116 {
  background-color: #f3f4f6;
}
.column11 {
  width: 102px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
  text-align: center;
  color: #1e1e1e;
  font-family: Roboto;
}
.action {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 47px;
}
.tableCell120,
.tableCell122,
.tableCell129,
.tableHeaderCell12 {
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 8px 10px;
}
.tableCell120,
.tableCell122,
.tableCell129 {
  align-self: stretch;
  padding: 12px 7px 10px;
}
.tableCell122,
.tableCell129 {
  background-color: #f3f4f6;
}
.tableCell129 {
  text-align: center;
  font-size: 14px;
  color: #2563eb;
}
.body,
.column12,
.columns {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.column12 {
  flex: 1;
  flex-direction: column;
  min-width: 41px;
  z-index: 2;
  font-size: 12px;
  color: #6b7280;
}
.body,
.columns {
  align-self: stretch;
}
.body {
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
}
.columns {
  border: 1px solid #e5e7eb;
  overflow: hidden;
  flex-direction: column;
  text-align: left;
  font-size: 14px;
  color: #1f2937;
  font-family: Inter;
}
