.ellipsis {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: 2px;
  line-height: 32px;
}
.componentspaginationItemEll {
  height: 32px;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 5px 0 6px;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.25);
  font-family: Poppins;
}
