.div,
.title {
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.title {
  min-width: 119px;
  white-space: nowrap;
}
.div {
  min-width: 4px;
}
.label {
  margin: 0 !important;
  position: absolute;
  left: -8px;
  overflow: hidden;
  flex-direction: row;
  gap: 2px;
  transform: rotate(-180deg);
  transform-origin: 0 0;
  z-index: 1;
}
.formItemtextarea,
.label,
.labelWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.labelWrapper {
  width: 0;
  height: 0;
  flex-direction: row;
  position: relative;
  transform: rotate(180deg);
}
.formItemtextarea {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 24px;
  text-align: right;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  font-family: Roboto;
}
