.chevronLeftIcon {
  height: 14px;
  width: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.linkSm {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  min-width: 48px;
}
.borderBottom {
  width: 48px;
  height: 2px;
  position: relative;
  background-color: #2563eb;
  display: none;
}
.linkSmall,
.placeholder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.linkSmall {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-align: center;
  font-size: 14px;
  color: #2563eb;
  font-family: Inter;
}
