.closeIcon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.closeWrapper,
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 22px 0 0;
}
.header {
  align-self: stretch;
  box-shadow: 0-1px 0#f0f0f0 inset;
  background-color: #fff;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  gap: 20px;
}
.defaultButton {
  text-decoration: none;
  width: 204px;
  position: relative;
  line-height: 22px;
  color: inherit;
  display: inline-block;
  text-shadow: 0 8px 12px 6px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.3);
}
.defaultButtonWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 21px 0 20px;
}
.image2Icon,
.scrollbar {
  position: relative;
  overflow: hidden;
}
.image2Icon {
  align-self: stretch;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.scrollbar {
  height: 10px;
  width: 286px;
  border-radius: 355px;
  background-color: #555;
  flex-shrink: 0;
}
.content,
.scroll {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.scroll {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 1px 4px rgba(0, 0, 0, 0.25) inset;
  border-radius: 355px;
  background-color: #fff;
  flex-direction: row;
  padding: 2px 89px;
}
.content {
  flex-direction: column;
  padding: 24px 48px;
  gap: 30px;
  text-align: center;
  font-size: 25px;
  color: #003e94;
  font-family: Poppins;
}
.a {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 10px;
}
.arrowLeftIcon,
.button {
  overflow: hidden;
  flex-shrink: 0;
}
.arrowLeftIcon {
  height: 14px;
  width: 14px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 7px);
  left: calc(50% - 7px);
  z-index: 1;
}
.button {
  width: 24px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.04);
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  position: relative;
  gap: 10px;
}
.detect110 {
  flex: 1;
  position: relative;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.53);
}
.footerButtons {
  width: 170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}
.maximize2Icon {
  height: 14px;
  width: 14px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 7px);
  left: calc(50% - 6.5px);
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.actionButtons,
.button2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.button2 {
  width: 33px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.04);
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 3px 9px 3px 10px;
  position: relative;
  gap: 10px;
}
.actionButtons {
  width: 242px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 7px;
  gap: 8px;
  font-size: 15px;
}
.footer,
.modaldetaileeg {
  background-color: #fff;
  display: flex;
}
.footer {
  align-self: stretch;
  box-shadow: 0 1px 0#f0f0f0 inset;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  gap: 20px;
}
.modaldetaileeg {
  position: relative;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  font-family: Roboto;
  flex: 1;
}
@media screen and (max-width: 625px) {
  .content {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .defaultButton {
    font-size: 20px;
    line-height: 18px;
  }
  .content,
  .scroll {
    padding-left: 44px;
    padding-right: 44px;
    box-sizing: border-box;
  }
  .content {
    gap: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer {
    flex-wrap: wrap;
    justify-content: center;
  }
}
