.b,
.personal {
  position: relative;
  display: inline-block;
}
.personal {
  margin: 0;
  font-size: inherit;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-family: inherit;
  min-width: 128px;
}
.b {
  height: 82px;
  flex: 1;
  white-space: nowrap;
}
.mo1 {
  font-weight: 500;
}
.moTxt {
  line-break: anywhere;
}
.mo {
  margin: 0;
  height: 82px;
  flex: 1;
  position: relative;
  font-size: 30px;
  display: flex;
  align-items: flex-end;
  font-family: inherit;
}
.parent {
  flex: 1;
  flex-direction: row;
}
.frameWrapper,
.parent,
.personalParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper {
  width: 227px;
  flex-direction: row;
  font-size: 46px;
}
.personalParent {
  align-self: stretch;
  border-radius: 35px 35px 0 0;
  background-color: #2e236c;
  flex-direction: column;
  padding: 23.5px 32px 23.5px 33px;
  gap: 6px;
  z-index: 1;
}
.vectorIcon {
  width: 22px;
  height: 22px;
  position: relative;
}
.vectorWrapper {
  height: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 21px 0 0;
  box-sizing: border-box;
  width: 22px;
}
.blankLine {
  margin: 0;
}
.thisFeature {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 118.5%;
  font-weight: 500;
  display: inline-block;
  min-height: 72px;
}
.frameDiv {
  flex: 1;
  flex-direction: row;
  padding: 5.4px 0;
  gap: 12px;
}
.frameContainer,
.frameDiv,
.vectorContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
}
.vectorContainer {
  height: 22px;
  flex-direction: column;
  padding: 1px 0 0;
  box-sizing: border-box;
}
.thisFeature2 {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 24px;
  font-weight: 500;
}
.frameParent1,
.vectorFrame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1 {
  flex: 1;
  flex-direction: row;
  gap: 12px;
}
.vectorFrame {
  height: 22px;
  flex-direction: column;
  padding: 13px 0 0;
  box-sizing: border-box;
  width: 22px;
}
.thisFeature3 {
  flex: 1;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 118.5%;
  font-weight: 500;
}
.frameChild {
  width: 290px;
  height: 1px;
  position: relative;
  object-fit: contain;
  display: none;
}
.frameGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px 150.2px;
  margin-top: -19px;
  font-size: 20px;
  color: #e7f5ff;
}
.frameGroup,
.frameParent {
  align-self: stretch;
  flex-direction: column;
}
.bplanWrapper,
.frameParent,
.plan2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bplanWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 20px;
  text-align: center;
  font-size: 16px;
  color: #0245a3;
}
.plan2 {
  width: 306px;
  border-radius: 35px;
  background-color: #024fbc;
  flex-shrink: 0;
  flex-direction: column;
  padding: 0 0 22px;
  box-sizing: border-box;
  text-align: left;
  font-size: 26px;
  color: #fff;
  font-family: Poppins;
}
@media screen and (max-width: 975px) {
  .b {
    font-size: 37px;
  }
  .mo {
    font-size: 24px;
  }
}
@media screen and (max-width: 725px) {
  .personal {
    font-size: 21px;
  }
  .b {
    font-size: 28px;
  }
  .mo {
    font-size: 18px;
  }
  .thisFeature,
  .thisFeature2,
  .thisFeature3 {
    font-size: 16px;
    line-height: 19px;
  }
}
