.page {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 22px;
}
.selectionItem {
  align-self: stretch;
  width: 53px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 1px 0;
  box-sizing: border-box;
}
.icon1 {
  width: 10.2px;
  height: 6.9px;
  position: relative;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8.6px 0 8.5px 6px;
}
.sizeChanger {
  align-self: stretch;
  flex: 1;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 11px;
  text-align: left;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  font-family: Roboto;
}
