.addCircleIcon {
  height: 32px;
  width: 32px;
  position: relative;
}
.avatar,
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.avatar {
  height: 32px;
  width: 32px;
  border-radius: 100px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
