.componentstableColumntext {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.invite {
  flex: 1;
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 49px;
  cursor: pointer;
}
.lineIcon {
  height: 12px;
  width: 1px;
  position: relative;
}
.divider {
  background-color: rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}
.delete,
.jimGreen {
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.jimGreen {
  flex: 1;
  min-width: 47px;
  cursor: pointer;
}
.delete {
  color: #ff1818;
  min-width: 40px;
}
.tableCellaction {
  align-self: stretch;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 16px 15px;
  gap: 8px;
}
.delete8,
.invite1,
.invite8,
.jimGreen1 {
  flex: 1;
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 49px;
}
.delete8,
.invite8,
.jimGreen1 {
  min-width: 47px;
}
.delete8,
.invite8 {
  min-width: 41px;
}
.delete8 {
  color: #ff1818;
  min-width: 40px;
}
.tableCellaction8 {
  align-self: stretch;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 24px 15px 16px;
  gap: 8px;
}
.invite9 {
  align-self: stretch;
  width: 41px;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.lineIcon18 {
  height: 12px;
  width: 0;
  position: relative;
}
.divider18 {
  width: 0;
  background-color: rgba(0, 0, 0, 0.06);
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.delete9,
.jimGreen9 {
  align-self: stretch;
  width: 47px;
  position: relative;
  line-height: 22px;
  display: inline-block;
}
.delete9 {
  width: 40px;
  color: #ff1818;
}
.tableCellaction9 {
  flex: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 24px 17px 16px;
  gap: 8px;
}
.columns,
.componentstableColumnaction {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.componentstableColumnaction {
  height: 605px;
  width: 200px;
  flex-direction: column;
}
.columns {
  align-self: stretch;
  height: 562px;
  overflow-y: auto;
  flex-shrink: 0;
  flex-direction: row;
  text-align: left;
  font-size: 14px;
  color: #1890ff;
  font-family: Roboto;
}
@media screen and (max-width: 450px) {
  .columns {
    height: auto;
  }
}
