.separator {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 6px;
}
.componentsseparator {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 8px;
  text-align: left;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
  font-family: Roboto;
}
