.ink {
  width: 24px;
  height: 0;
  position: relative;
  border-top: 2px solid rgba(0, 0, 0, 0.83);
  box-sizing: border-box;
  display: none;
}
.componentstablegacy {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
