.labelWrapperIcon {
  height: 27px;
  width: 55px;
  position: relative;
  object-fit: contain;
}
.formItemradio {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  font-family: Roboto;
}
