.arrowleftIcon {
  height: 16px;
  width: 16.3px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.classgmailGroupsIcon {
  height: 32px;
  width: 32px;
  position: relative;
}
.title {
  text-decoration: none;
  position: relative;
  line-height: 28px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 75px;
  white-space: nowrap;
}
.headingLeft,
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.headingLeft {
  padding: 4px 682px 4px 0;
  box-sizing: border-box;
  gap: 16px;
  max-width: 100%;
  text-align: left;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.85);
  font-family: Roboto;
}
@media screen and (max-width: 975px) {
  .headingLeft {
    padding-right: 341px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .headingLeft {
    padding-right: 20px;
    box-sizing: border-box;
  }
}
