.cardlegacy {
  height: 182px;
  width: 320px;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #cee4f9;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 23px;
  color: rgba(0, 0, 0, 0.85);
}
.text {
  position: relative;
  line-height: 22px;
}
.texttext {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.infocircleIcon {
  width: 16px;
  height: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iconWrapper {
  background-color: transparent;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.layoutBlockshorizontal2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  gap: 20px;
}
.lineIcon {
  align-self: stretch;
  height: 1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.divider {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 9px 0 8px;
}
.text1,
.text2 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 69px;
}
.text2 {
  min-width: 35px;
}
.layoutBlockshorizontal21 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 160px 0 0;
  gap: 8px;
  color: rgba(0, 0, 0, 0.85);
}
.body,
.cardlegacy1 {
  flex-direction: column;
}
.body {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.cardlegacy1 {
  width: 320px;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #cee4f9;
  box-sizing: border-box;
  overflow: hidden;
  justify-content: flex-start;
  padding: 18px 23px 4px;
}
.cardlegacy1,
.cardlegacy2,
.head {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
}
.cardlegacy2 {
  width: 320px;
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #cee4f9;
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 18px 23px 0;
}
.head {
  align-self: stretch;
  overflow-y: auto;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
  font-family: Roboto;
}
@media screen and (max-width: 1200px) {
  .head {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .layoutBlockshorizontal21 {
    flex-wrap: wrap;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
