.title {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 33px;
}
.item06,
.lastStepTitleContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lastStepTitleContainer {
  flex-direction: column;
  padding: 5px 0 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
}
.item06 {
  flex-direction: row;
  gap: 8px;
  text-align: left;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.25);
  font-family: Roboto;
}
