.formPagesAre {
  align-self: stretch;
  position: relative;
  line-height: 131%;
  white-space: nowrap;
}
.ignore {
  height: 0;
  width: 0;
  position: relative;
}
.textparagraph,
.widthScrubber {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.widthScrubber {
  width: 400px;
  height: 0;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.textparagraph {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: 13px;
  color: #333;
  font-family: Poppins;
}
@media screen and (max-width: 975px) {
  .formPagesAre {
    display: none;
  }
}
